<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find a match</title>
</head>
<body>
    <a href="/home">Go Back!</a>
    <h1>Find A Match</h1>

<form action="#" method="post">

    <label for="Age">Age</label>
    <input type="text">

    <label for="Gender">Gender</label>
    <select name="gender" id="gender">
        <option value="gender">Male</option>
        <option value="gender">female</option>
    </select>

    <label for="Location">Mile-Radius</label>
    <input type="text">
    <button type="submit">Search</button>

</form>
</body>
</html>